.home-subdescription{
    color:gray;
    margin-left: 35px;
}
    
.plant-filters{
    margin-left: 35px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}