.detail-container {
  display: flex;
  gap: 40px;
  padding: 40px;
  max-width: 1200px;
  margin: auto;
}

/* LEFT IMAGE */
.image-section {
  flex: 1.2;
}

.main-image {
  width: 100%;
  height: 500px;
  border-radius: 14px;
  object-fit: cover;
}

/* RIGHT SIDE */
.info-section {
  flex: 1;
}

.plant-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}

.rating {
  font-size: 18px;
  margin-bottom: 15px;
}

.reviews {
  color: gray;
  font-size: 15px;
}

.price-box {
  margin: 20px 0;
}

.price {
  font-size: 32px;
  font-weight: bold;
  margin-right: 15px;
}

.old-price {
  text-decoration: line-through;
  color: gray;
  margin-right: 10px;
}

.discount {
  color: green;
  font-weight: 600;
}

.section {
  margin-top: 25px;
}

.section h3 {
  font-size: 18px;
  font-weight: 600;
}

.section-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.quantity-row {
  margin: 30px 0;
  display: flex;
  align-items: center;
  gap: 15px;
}

.quantity-row button {
  width: 32px;
  height: 32px;
  background: #eee;
  border: none;
  font-size: 20px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-row {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.add-cart {
  background: #3fa34d;
  color: white;
  padding: 14px 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  flex: 1;
  font-size: 16px;
}

.buy-now {
  background: white;
  border: 2px solid #3fa34d;
  padding: 14px 24px;
  border-radius: 8px;
  cursor: pointer;
  flex: 1;
  font-size: 16px;
}

.loading {
  text-align: center;
  margin-top: 150px;
  font-size: 24px;
}
