.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: calc(100vh - 250px);
  background-color: #ecfdf5;
}
.home-content {
  max-width: 1200px;
  width: 100%;
  display: flex;
  height: 80%;
}
.left-home,
.right-home {
  flex: 1;
}
.left-home {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: left;
}
.left-home h1 {
  font-size: 52px;
  color: rgb(3, 64, 3);
  margin-bottom: 20px;
}
.left-home p {
  font-size: 18px;
  color: #158c1f;
  margin-bottom: 30px;
}

.home-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.explore-button {
  padding: 12px 24px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

.learn-button {
  margin-left: 15px;
  padding: 12px 24px;
  background-color: white;
  color: #4caf50;
  border: 1px solid #4caf50;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

.home-features-section {
  margin-top: 50px;
  text-align: center;
}

.home-features{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.feature-item{
    border: 1px solid lightgray;
    width: 27%;
    height: 250px;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.feature-icon{
    background-color: #e0f2e9;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.feature-description{
    color: gray;
    font-size: 14px;
}
.home-subdescription{
    color:gray;
    margin-bottom: 20px;
}

.home-plant-section{
    margin-top: 50px;
    padding: 0 30px;
}

.home-plant-list{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.home-subtitle{
    font-size: 28px;
    margin-left: 35px;
}