.signup-box {
  display: flex;
  justify-content: center;
  padding: 50px 0px;
}

.signup-form-container {
  border: 1px solid lightgray;
  width: 450px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.signup-form label {
  text-align: left;
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: bold;
}

.signup-form input {
  height: 35px;
  width: 370px;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 0 10px;
}

.signup-form button {
  margin-top: 25px;
  height: 40px;
  width: 400px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}