.plant-card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  height: 500px;
  width: 450px;
}

.plant-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;

}

.plant-image:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.plant-image-container {
  position: relative;
  overflow: hidden;
}
.favorite-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
  color: white;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: rgba(78, 77, 77, 0.4);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plant-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgb(214, 224, 214);
  color: rgb(4, 56, 4);
  border-radius: 50px;
  padding: 4px 8px;
}

.plant-info {
  padding: 15px;
}

.plant-name {
  font-size: 25px;
  font-weight: bold;
    margin: 10px 0;
}

.plant-info p {
  margin: 15px 0;
  color: #959292;
}

.plant-price {
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin-top: 15px;
}

.plant-card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.add-to-cart-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
    width: 48%;
}

.add-to-cart-button:hover {
  background-color: #45a049;
}

.view-details-button {
  color: #4caf50;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  width: 48%;
}       

