.navbar {
  display: flex;
  padding: 20px 25px;
  /* justify-content: space-between; */
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  font-family: "inter", sans-serif;
}

.navbar-left * {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.nav-logo {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: green;
  color: white;
  font-weight: bold;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-title {
  font-size: 20px;
  font-weight: bold;
}

.shop {
  color: green;
}

.nav-item * {
  color: #6b7280;
  cursor: pointer;
  font-weight: 500;
  margin: 0 15px;
  text-decoration: none;
}

.search-input {
  padding: 8px 12px;
  border: 1px solid lightgray;
  border-radius: 4px;
  width: 450px;
  outline: none;
  margin: 0 20px;
}

.navbar-center {
  margin: 0 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25%;
}

.navbar-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25%;
  margin-right: 10px;
}
